@font-face {
  font-family: 'GothamPro-Bold';
  src: url('GothamPro-Bold.eot?#iefix') format('embedded-opentype'),  url('GothamPro-Bold.otf')  format('opentype'),
	     url('GothamPro-Bold.woff') format('woff'), url('GothamPro-Bold.ttf')  format('truetype'), url('GothamPro-Bold.svg#GothamPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'GothamPro-Light';
  src: url('GothamPro-Light.eot?#iefix') format('embedded-opentype'),  url('GothamPro-Light.otf')  format('opentype'),
	     url('GothamPro-Light.woff') format('woff'), url('GothamPro-Light.ttf')  format('truetype'), url('GothamPro-Light.svg#GothamPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'GothamPro-LightItalic';
  src: url('GothamPro-LightItalic.eot?#iefix') format('embedded-opentype'),  url('GothamPro-LightItalic.otf')  format('opentype'),
	     url('GothamPro-LightItalic.woff') format('woff'), url('GothamPro-LightItalic.ttf')  format('truetype'), url('GothamPro-LightItalic.svg#GothamPro-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: optional;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

*{
	box-sizing: border-box;
}

body{
  font-family: 'GothamPro', Arial, sans-serif;
  font-size: 14px;
  -webkit-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0; /* убрать, когда подключим reset.css */
}

.wrapper{
	overflow: hidden;
	min-width: 1100px;
}

.container{
	width: 1060px;
	margin: 0 auto;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

p, h1{
	padding: 0;
	margin: 0;
}

.header, .footer{
	background: #27273e;
	min-height: 75px;
	padding-top: 15px;
}

.header{
	padding-bottom: 20px;
}

.logo{
	display: inline-block;
}

.contacts{
	display: inline-block;
	text-align: right;
	float: right;
	margin-top: 5px;
}

.contacts__phone{
	color: #fff;
	text-decoration: none;
	font-size: 21px;
	font-weight: bold;
	display: block;
}

.contacts__shed{
	color: #c02169;
	font-weight: 700;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	background-color: transparent;
	border: none;
	padding: 0;
	border-bottom: 1px solid;
	outline: none;
}

.background{
	background: url(../img/decor/background.jpg) center center no-repeat; 
	background-size: cover;
	min-height: 350px;
}

.menu{
	width: 160px;
	float: left;
	padding-top: 65px;
}

.menu__list{
	padding: 0;
	margin: 0;
}

.menu__item{
	margin-bottom: 35px;
}

.menu__link{
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ec1e79;
}

.menu__link--active{
	color: #000;
}

.menu__link:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	margin-top: -3px;
}

.menu__link--main:before{
	background: url(../img/icons/main.png);
	width: 17px;
	height: 15px;
}

.menu__link--main-active:before{
	background: url(../img/icons/main-active.png);
}

.menu__link--feed:before{
	background: url(../img/icons/feed.png);
	width: 20px;
	height: 18px;
}

.menu__link--feed-active:before{
	background: url(../img/icons/feed-active.png);
}

.menu__link--prices:before{
	background: url(../img/icons/wallet.png);
	width: 19px;
	height: 16px;
}

.menu__link--prices-active:before{
	background: url(../img/icons/wallet-active.png);
}

.main{
	padding-top: 65px;
}

.features, .news, .pages, .prices, .partners{
	width: 880px;
	float: right;
}

.main-title{
	font-size: 49px;
	font-weight: bold;
	display: block;
	line-height: 38px;
	margin-bottom: 60px;
}

.main-title--form{
	margin-bottom: 30px;
}

.features__item{
	width: 250px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 95px;
}

.features__item:before{
	content: "";
	display: block;
	margin: 0 auto;
}

.features__item--unique:before{
	background: url(../img/icons/unique.png);
	width: 68px;
	height: 68px;
}

.features__item--premium:before{
	background: url(../img/icons/premium.png);
	width: 68px;
	height: 68px;
}

.features__item--luxury:before{
	background: url(../img/icons/luxury.png);
	width: 68px;
	height: 68px;
}

.features__title{
	display: block;
	text-align: center;
	margin-top: 35px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
}

.features__descr{
	font-size: 18px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 25px;
}

.features__list{
	font-size: 18px;
}

.features__point{
	margin-bottom: 25px;
	margin-left: 25px;
}

.features__point:last-child{
	margin-bottom: 0;
}

.features__point:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #ec1e79;
	margin-right: 30px;
}

.news{
	margin-bottom: 70px;
}

.news__item{
	padding-bottom: 25px;
	border-bottom: 2px #f5f5f5 solid;
	margin-bottom: 30px;
}

.news__item:last-child{
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

.news__img{
	width: 160px;
	border-radius: 50%;
	margin-right: 20px;
}

.news__descr{
	width: 630px;
	display: inline-block;
	vertical-align: top;
	font-family: 'Roboto', sans-serif;
}

.news__date{
	font-size: 14px;
	color: #656464;
	font-weight: 300;
}

.news__title{
	font-weight: 700;
	font-size: 18px;
}

.news__text{
	font-size: 18px;
	color: #221f1f;
	font-weight: 300;
}

.pag{
	width: 350px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 60px;
}

.pag__descr{
	color: #656464;
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 0;
	display: inline-block;
}

.pag__numbers{
	color: #221f1f;
	font-weight: 700;
	float: right;
}

.pag__left{
	display: inline-block;
	background: url(../img/icons/left.png);
	width: 6px;
	height: 10px;
	margin-right: 10px;
}

.pag__right{
	display: inline-block;
	background: url(../img/icons/right.png);
	width: 6px;
	height: 10px;
	margin-left: 10px;
}

.pag__list{
	display: inline-block;
}

.pag__item{
	display: inline-block;
}

.pag__link{
	text-decoration: none;
	color: #221f1f;
	font-size: 14px;
	font-weight: 700;
	background-color: #fff;
	padding: 7px 8px;
}

.pag__link:hover{
	color: #fff;
	background-color: #221f1f;
	padding: 7px 8px;
	border-radius: 5px;
}

.footer{
	padding-top: 15px;
}

.footer__text{
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	width: 270px;
	float: left;
}

.author--bold{
	font-weight: 700;
}

.author--border{
	border-bottom: 1px #74747f solid;
	color: #fff;
	text-decoration: none;
}

.social{
	width: 180px;
}

.logo--footer{
	width: 610px;
}

.logo__img--footer{
	padding-left: 210px;
}

.social{
	width: 180px;
	float: right;
}

.social__list{
	color: #fff;
	font-size: 14px;
	font-weight: 700;
}

.social__item{
	display: inline-block;
}

.social__item--vk{
	background: url(../img/icons/vk.png);
	width: 20px;
	height: 20px;
	margin-top: 10px;
	margin-right: 10px;
}

.social__item--vk:hover{
	background: url(../img/icons/vk-hover.png);
}

.social__item--fb{
	background: url(../img/icons/fb.png);
	width: 20px;
	height: 20px;
	margin-top: 10px;
	margin-right: 10px;
}

.social__item--fb:hover{
	background: url(../img/icons/fb-hover.png);
}

.social__item--gg {
	background: url(../img/icons/g+.png);
	width: 20px;
	height: 20px;
	margin-top: 10px;
	margin-right: 10px;
}

.social__item--gg:hover{
	background: url(../img/icons/g+-hover.png);
}

.social__item--tw{
	background: url(../img/icons/tw.png);
	width: 20px;
	height: 20px;
	margin-top: 10px;
	margin-right: 10px;
}

.social__item--tw:hover{
	background: url(../img/icons/tw-hover.png);
}

.social__item--mail{
	background: url(../img/icons/mail.png);
	width: 20px;
	height: 20px;
	margin-top: 10px;
	margin-right: 10px;
}

.social__item--mail:hover{
	background: url(../img/icons/mail-hover.png);
}

.bread{
	width: 880px;
	float: right;
	margin-bottom: 30px;
}

.bread__item{
	display: inline-block;
/*	font-size: 14px;
	font-style: italic;
	color: #ec1e79;*/
}

.bread__link{
	font-size: 14px;
	font-style: italic;
	color: #ec1e79;
}

.bread__link:after{
	content: "/";
	display: inline-block;
	margin-left: 5px;
}

.bread__link--active{
	color: #221f1f;
	text-decoration: none;
}

.bread__link--active:after{
	content: none;
}

.backgr-feed{
	background: url(../img/decor/backgr-feed.jpg) center center no-repeat; 
	background-size: cover;
	min-height: 174px;
	padding-top: 45px;
}

.action{
	display: block;
	width: 620px;
	margin: 0 auto;
	font-size: 18px;
	color: #fff;
	font-weight: 300;
	line-height: 30px;
}

.action--pink{
	color: #ec1e79;
	display: inline;
}

.form-feed{
	width: 700px;
	margin: 0 auto;
	background-color: #f5f5f5;
	margin-top: 55px;
	padding-top: 50px;
	padding-left: 70px;
	margin-bottom: 50px;
	padding-bottom: 40px;
}

.form__element{
	width: 270px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.form__element:last-child{
	margin-right: 0;
}

.form__element--right{
	text-align: right;
}

.form__title, .form__input{
	display: block;
}

.form__title{
	font-size: 14px;
	color: #221f1f;
	padding-bottom: 10px;
}

.form__input{
	width: 270px;
	height: 50px;
	border: none;
	outline-color: #ec1e79;
	padding-left: 10px;
}

.form__element--text{
	width: 560px;
}

.form__input--text{
	width: 560px;
	min-height: 90px;
	padding-top: 10px;
}

.form__radio{
	display: inline-block;
	margin-right: 20px;
}

.form__radio-text{
	margin-right: 5px;
}

.form__submit{
	background-color: #27273e;
	padding: 17px 20px;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
}

.prices__item{
	width: 250px;
	float: left;
	margin-right: 55px;
	min-height: 370px;
}

.prices__item:nth-child(4), .prices__item:nth-child(7){
	margin-right: 0;
}

/*.prices__img{
	position: absolute;
}*/

.prices__img{
	background: url(../img/content/prices-1.jpg);
	/*position: absolute;*/
}

.prices__img:after{
	content: "";
	background-color: #27273e;
	opacity: 0.8;
	/*z-index: 1;*/
	width: 250px;
	height: 153px;
	display: block;
/*	position: relative;
	top: 0;
	left: 0;*/
}

.prices__price{
	font-size: 18px;
	/*position: static;*/
	/*margin-top: 153px;*/
	
}

.prices__descr{
	font-size: 14px;
}

/*.prices__title{
	position: relative;
	display: block;
	top: 0;
	left: 0;
}*/

.second-title{
	font-size: 24px;
	color: #5dd1f8;
	text-transform: uppercase;
	font-weight: 700;
	position: relative;
	display: block;
	top: 0;
	left: 0;
	/*z-index: 2;*/
	margin: 0;
}

.partners__item{
	width: 290px;
	float: left;
}







